@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout MaxWidth="MaxWidth.False">
    <MudAppBar Elevation="1" Dense="true">
        <MudText Typo="Typo.h5" Class="ml-3">Management</MudText>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-2">
            <ErrorBoundary @ref="@_errorBoundary" Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert bg-danger text-white alert-dismissible">
                        @Exception.GetType(): @Exception.Message
                        <button class="btn-close" @onclick="Recover"></button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        if (_errorBoundary is not null)
            _errorBoundary.Recover();
    }

    private void Recover()
    {
        if (_errorBoundary is not null)
            _errorBoundary.Recover();
    }
}